<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">

<body>
<th:block layout:fragment="content">

		  <center><h2>Welcome to Udaan Travel website!</h2>
		
		<img th:src="@{/img/pic5.jpg}" style="width:1000px;height: 400px;";/>
		</center>
    
    </div>
	
	<br>
	<br>

  <div class="bottom-container" th:style="'background-color: #2780E3; color: #fff; padding: 15px;'">
	   
	  <center>
		  <div>
			  <img th:src="@{/img/logo2.jpeg}" style="width:90px;height: 70px;"/>
			  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			  <a  href="mailto:abaudhya@gmail.com" style="color:white;">CONTACT ME</a>  
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a class="footer-link" href="https://github.com/Ashok-baudhya/Cdac_Final_Project" style="color:white;">Git hub</a>
		  </div>
	  </center>
    <center><p class="copyright" style="padding-bottom: 0%; margin-bottom: 0%;">© 2023 Udaan .</p></center>
  </div>
</body>
</html>